{% extends 'BaseEmail.html.twig' %}
{% set __default = locale ? locale : 'en' %}
{% block subject %}

    {{ 'Hello' |trans({}, 'messages', __default ) }}
    {{ userIdentity.firstName }},
    <br><br>
{% endblock %}
{% block content %}
    {% autoescape false %}
        {{ 'resetpasswordlinkIs' |trans({}, 'messages', __default ) }}
        <a href="{{ url }}">
            {{ 'reset'|trans({}, 'messages', __default) }}</a>

        <br><br>

        {{ 'bestRegards' |trans({}, 'messages', __default ) }},<br>
        {{ 'baluTeam' |trans({}, 'messages', __default ) }}
    {% endautoescape %}
{% endblock %}

